.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/dist
/src/routes
/src/example-components

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
