/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
/* Nunito font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.contributor-card {
		@apply min-w-[181px] text-center grid place-items-center bg-white text-gray-600 p-5 rounded-xl shadow-lg;
	}
	.btn-primary {
		@apply border w-fit shadow-lg hover:shadow-transparent rounded-full hover:ease-in duration-100 hover:text-[#ff4561] hover:bg-transparent bg-[#ff4561] text-white border-[#ff4561];
	}
}
